div[card] {
  background-color: #7a826d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.2rem;
  padding: 0.6rem;
  width: 8rem;
  height: 10rem;
  color: white;
  
  button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    &:active {
      background-color: rgba(50, 50, 50, 0.5);
    }
  }

  &.attack {
    background-image: url('images/card_attack.jpg?v2');
  }

  &.cat-1 {
    background-image: url('images/card_cat_1.jpg?v2');
  }

  &.cat-2 {
    background-image: url('images/card_cat_2.jpg?v2');
  }

  &.cat-3 {
    background-image: url('images/card_cat_3.jpg?v2');
  }

  &.cat-4 {
    background-image: url('images/card_cat_4.jpg?v2');
  }

  &.cat-5 {
    background-image: url('images/card_cat_5.jpg?v2');
  }

  &.defuse {
    background-image: url('images/card_defuse.jpg?v2');
  }

  &.divination {
    background-image: url('images/card_divination.jpg?v2');
  }

  &.exploding-kitten {
    background-image: url('images/card_exploding_kitten.jpg?v2');
  }

  &.favor {
    background-image: url('images/card_favor.jpg?v2');
  }

  &.nope {
    background-image: url('images/card_nope.jpg?v2');
  }

  &.shuffle {
    background-image: url('images/card_shuffle.jpg?v2');
  }

  &.skip {
    background-image: url('images/card_skip.jpg?v2');
  }
}
