<div card class="card @CardTypeClass(Model.Type)">
    <div class="flex @GetButtonsPositionClass()">
        @if (CanBeDiscarded())
        {
            <button @onclick="DiscardAsync" title="Défausser">D</button>
        }

        @if (CanBeGiven())
        {
            <button @onclick="GiveAsync" title="Transférer">T</button>
        }

        @if (CanBePutBackInPile())
        {
            <button @onclick="PutBackInPileAsync" title="Remettre dans la pile">R</button>
        }

        @if (CanBePicked())
        {
            <button @onclick="PickAsync" title="Ramasser">R</button>
        }
    </div>
</div>
