<div card class="card @CardTypeClass(Model.Type)">
    <div class="flex @GetButtonsPositionClass()">
        @if (ActivePlayer != null)
        {
            if (ActivePlayer.CanDiscardCard(Model))
            {
                <button @onclick="DiscardCardAsync" title="Défausser">D</button>
            }

            if (ActivePlayer.CanGiveCard(Model))
            {
                <button @onclick="GiveCardAsync" title="Transférer à l'autre joueur">T</button>
            }

            if (ActivePlayer.CanPutCardBackInPile(Model))
            {
                <button @onclick="PutCardBackInPileAsync" title="Remettre dans la pile">R</button>
            }

            if (ActivePlayer.CanPickCard(Model))
            {
                <button @onclick="PickCardAsync" title="Ramasser">R</button>
            }
        }
    </div>

    @* <h3>@Model.GetName()</h3> *@
</div>
