<div card class="card @CardTypeClass(Model.Type)">
    <div class="flex">
        @if (ActivePlayer != null)
        {
            if (ActivePlayer.CanDiscardCard(Model))
            {
                <button @onclick="() => ActivePlayer.DiscardCard(Game, Model)" title="Défausser">D</button>
            }

            if (ActivePlayer.CanGiveCard(Model))
            {
                <button @onclick="() => ActivePlayer.GiveCard(Game, Model)" title="Transférer à l'autre joueur">T</button>
            }

            if (ActivePlayer.CanPutCardBackInPile(Model))
            {
                <button @onclick="() => ActivePlayer.PutCardBackInPile(Game, Model)" title="Remettre dans la pile">R</button>
            }

            if (PlayerModel.CanPickCard(Game, Model))
            {
                <button @onclick="() => ActivePlayer.PickCard(Game, Model)" title="Ramasser">R</button>
            }
        }
    </div>

    <h3>@Model.GetName()</h3>
</div>
