@inject StaticFilesVersion staticFilesVersion;

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatons explosifs</title>
    <link href="styles.css?v=@(staticFilesVersion.Value)" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>
