body {
    background-image: url('images/exploding_kitten.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top center;
}

::deep button, ::deep input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    background-color: #F3F3F3;
    color: black;
}

::deep .flex {
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
}

::deep * {
    touch-action: manipulation;
}
