<section class="@BombClass(Model.Type)">
    <div class="buttons-container">
        @if (Model.CanBeDiscarded())
        {
            <button @onclick="Model.Discard" title="Défausser">D</button>
        }

        @if (Model.CanBeTransferred())
        {
            <button @onclick="Model.Transfer" title="Transférer à l'autre joueur">T</button>
        }

        @if (Model.CanBePutBackInPile())
        {
            <button @onclick="Model.PutBackInPile" title="Remettre dans la pile">R</button>
        }

    </div>

    <h3>@Model.Name</h3>
</section>
