section {
    background-color: #7a826d;
    padding: 0.2rem;
    margin: 0.2rem;
    width: 7rem;
    height: 10rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #000000;
    border-radius: 0.2rem;
    color: white;
}

.buttons-container {
    display: inline-flex
}

.buttons-container button {
    margin-right: 0.2rem;
}

.bomb {
    background-image: url('images/bomb.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
