<div class="@BombClass(Model.Type) container">
    <div class="flex">
        @if (Model.CanBeDiscarded())
        {
            <button @onclick="Model.Discard" title="Défausser">D</button>
        }

        @if (Model.CanBeTransferred())
        {
            <button @onclick="Model.Transfer" title="Transférer à l'autre joueur">T</button>
        }

        @if (Model.CanBePutBackInPile())
        {
            <button @onclick="Model.PutBackInPile" title="Remettre dans la pile">R</button>
        }

        @if (Model.CanBeGiven())
        {
            <button @onclick="Model.GiveToPlayerA" title="Transférer à Marc">M</button>
            <button @onclick="Model.GiveToPlayerB" title="Transférer à Estelle">E</button>
        }

    </div>

    <h3>@Model.Name</h3>
</div>
