@import "../Components/Card.razor";

$color-primary: #e84631;

@keyframes fall {
    0% {
        transform: translateY(-100%);
        opacity: 0.4;
    }

    100% {
        transform: translateY(50vh);
        opacity: 0;
    }
}

.falling-heart {
    position: absolute;
    animation: fall 5s linear infinite;
}


* {
    touch-action: manipulation;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-image: url('images/exploding_kitten.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top center;
}

button, input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.6rem;
    background-color: #F3F3F3;
    color: black;
    font-size: 1rem;
}

button.active {
    background-color: black;
    color: white;
}

button:active {
    background-color: lightgray;
    color: black;
}

h3.primary {
    background-color: $color-primary;
    color: white;
    padding: 0.6rem;
    width: fit-content;
    border-radius: 0.2rem;
}

div.flex {
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
    width: 100%;

    &.flex-bottom {
        align-items: flex-end;
        justify-content: flex-end;
        height: 100%;
    }

    &.flex-top {
        align-items: flex-end;
        justify-content: flex-end;
    }
}
