* {
    touch-action: manipulation;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-image: url('images/exploding_kitten.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top center;
}

button, input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.6rem;
    background-color: #F3F3F3;
    color: black;
    font-size: 1rem;
}

.flex {
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.card {
    background-color: #7a826d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.2rem;
    padding: 0.6rem;
    width: 8rem;
    height: 10rem;
    color: white;
}

.exploding-kitten {
    background-image: url('images/card_exploding_kitten.jpg');
}

.cat-1 {
    background-image: url('images/card_cat_1.jpg');
}

.cat-2 {
    background-image: url('images/card_cat_2.jpg');
}

.cat-3 {
    background-image: url('images/card_cat_3.jpg');
}

.color-white {
    background-color: #e84631;
    color: white;
    padding: 0.6rem;
    width: fit-content;
    border-radius: 0.2rem;
}

.active {
    background-color: black;
    color: white;
}
